// main colors to be changed


$first_accent_color: #023859;
$second_accent_color: #03658C;
$fourth_accent_color: #049DBF;
$fifth_accent_color: #06C4D6;
$sixth_accent_color: #F0F0EA;

$brand_color_1: #fff;
$brand_color_2: #58595B;
