// main colors to be changed


$first_accent_color: #4f2570;
$second_accent_color: #ff7900;
$fourth_accent_color: #ffd300;
$fifth_accent_color: #789b0d;
$sixth_accent_color: #789B0D;

$brand_color_1: #fff;
$brand_color_2: #58595B;
