$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/components-font-awesome/scss/font-awesome.scss";
// endbower

// defaults
@import 'defaults';
@import 'colors';

// elements
@import 'elements/image';
@import 'elements/headings';

// components
@import 'components/brand';
@import 'components/intro';
@import 'components/video';
@import 'components/navbar';

body {
  padding-top: 110px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

p { line-height: 1; }
