$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

// defaults
@import 'defaults';
@import 'colors';

// elements
@import 'elements/image';

// components
@import 'components/brand';
@import 'components/intro';
@import 'components/video';
@import 'components/navbar';

body {
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
}
