.intro {
  float: none;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px;

  .main__video {
    width: 100%;
    height: 350px;
  }
}

.key__categories {
  margin-bottom: 70px;
  text-align: center;

  .category {
    padding: 60px;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: $sixth_accent_color;

    p {
      line-height: 1.5;
    }
  }

}

.localization__map {
  text-align: center;
  h2 { margin-bottom: 40px;}
  .map {
    // width: 100%;
    // height: 500px;
  }
}

.featured_videos {
  h2 {text-align: center;}
}
