$navbar_background_color: $fourth_accent_color;
$navbar_color: #fff;

.navbar-default {
  background-color: $navbar_background_color !important;
  border: 0;

  .dropdown {
    &.open {
      a.dropdown-toggle {
        font-weight: bolder;
        background-color: transparent !important;
      }
    }

    a.dropdown-toggle {
      color: $navbar_color !important;
    }
  }

}
